body{
    color: aliceblue;
    width: 40%;
    text-align: center;
    padding:4cm;
    margin: auto;
    background-color: black;
}

form {
    margin: 1cm;
    padding: 19px;
    border-radius: 10px;
    background-color: rgb(21, 21, 23);
    margin-top: 10px;
}
form:hover {
    border-radius: 30px;
    background-color: rgb(6, 1, 21);
}
.submit {
    color: white;
}

a {
    color: aliceblue;
}
a:hover {
    color: rgb(246, 244, 244);
    font-size: 2pc;
    font-weight: bold;
    font-style: italic;
}

